#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

[Unit]
Description             = create docker compose config file for paperless
PartOf                  = paperless.service
After                   = docker.service
Requires                = paperless-config.service
Before                  = paperless.service

[Service]
Type                    = oneshot
EnvironmentFile         = {{ paperless_defaults_directory }}/paperless

RemainAfterExit         = true
WorkingDirectory        = {{ paperless_install_path }}/active
{% if paperless_service.command == 'docker-compose' %}
ExecStart               = /usr/bin/docker-compose $OPTIONS_PULL
{% else %}
ExecStart               = /usr/bin/docker compose $OPTIONS_PULL
{% endif %}
TimeoutSec              = 1200

PrivateTmp              = yes
UMask                   = 077
NoNewPrivileges         = yes
PrivateMounts           = yes
ProtectControlGroups    = yes
ProtectKernelTunables   = yes
ProtectHome             = true
ProtectSystem           = full
RestrictAddressFamilies = AF_UNIX AF_INET AF_INET6
RestrictNamespaces      = true
RestrictRealtime        = true
SystemCallArchitectures = native

[Install]
WantedBy                = multi-user.target
